fastapi
fastapi[standard]
uvicorn
langchain
langchain_ollama
langchain-community
pydantic
dotenv
pandas

pymongo

geopandas
geopandas[all]
shapely
pyproj
pyogrio
osmnx
overpy

langgraph
langgraph_supervisor

beeai-framework
beeai-framework[duckduckgo]
