fastapi
fastapi[standard]
uvicorn
langchain
langchain_ollama
langchain-community
pydantic
dotenv
pandas
beautifulsoup4

pymongo

geopandas
geopandas[all]
shapely
pyproj
pyogrio
osmnx
overpy

langgraph
langgraph_supervisor

beeai-framework
beeai-framework[duckduckgo]
a2a-sdk
a2a-sdk[http-server]
google-adk
litellm
python-a2a
python-a2a[ollama]
nest-asyncio
crewai
yfinance

pytest
duckdb
pyotp
qrcode
